*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-active,
.button-active,
.body-active {
  background-color: #101010;
  text-align: center;
  color: #fff;
  font-size: 24px;
  border: 2px solid rgba(182, 75, 3, 0.762);
  border-radius: 10px;
  padding: 10px 20px;
}

.mouseenter-active {
  color: aqua;
  border: 2px solid rgba(255, 255, 255, 0.762);
  background-color: brown;
}

.mouse-leave {
  width: 300px;
  margin: auto;
  height: 300px;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
}
